rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /usuarios/{userId}/casos/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /usuarios/{userId}/montagens/{caseId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
